@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@200;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    background-image: url('https://cdn.discordapp.com/attachments/1169965501053681704/1171407154431926313/bg.jpg?ex=655c90ed&is=654a1bed&hm=4143212aa07e223397937122420cc6e6cc40e7ef3a5542be7b3f845ced9d3c5e&'); /* Replace 'your-image-file.jpg' with the actual image file path */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    
}

.main{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
 
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.search-container {
    position: relative;
    width: 483px;
}

.search {
    border-radius: 144px;
    background: #FFF;
    width: 100%;
    height: 60px;
    padding-left: 40px; 
    border: 1px solid #000; 
}

.search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.task-box{
    width:1100px;
    height:100%;
    border:solid;
    background-color: rgb(250, 250, 244);
    border-radius:3px;
}

.toDo{
    width:500px;
    height:100%;
    min-height:600px;
    border:solid;

}
.done{
    width:500px;
    height:100%;
    border:solid; 
    min-height:600px;
}

.status{
width: 504px;
height: 66px;
border-radius: 20px;
background: #D50046;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.tasks{
    width:420px;
    height:320px;
    border-radius: 38px;
    border:solid;
    border-color: #D50046;
}

.task-head{
    width:100%;
    height:90px;
    background-color: #E6E4E4;
    border-top-left-radius:38px;
    border-top-right-radius:38px ;
}

.line {
    border-top: 3px solid #000; 
    display: block;
    width: 80%; 
}

.profile{
    width:80px;
    height:85px;
    border:solid;
}
.close{
    width:80px;
    height:85px;
    border:solid;
}
.dot{
    width:12px;
    height:12px;
    background-color: #FF00B8;
    border-radius:50%;
}
.desc-box{
    width:330px;
    height:100%;
    border:solid;

}

.next{
    width: 85px;
    height: 50px;
    border:solid;

}
